:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --ff-outfit: 'Outfit', sans-serif;
  
  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-outfit);
}

body {
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  border-radius: 1.188rem;
  background-color: var(--white);
  width: 21.875rem;
  padding: 1rem;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.card > img {
  max-width: 100%;
  border-radius: 0.625rem;
}

.card > h1 {
  color: var(--dark-blue);
  font-size: 1.4rem;
  text-align: center;
  margin: 1rem 0;
}

.card > p {
  color: var(--grayish-blue);
  text-align: center;
  margin-bottom: 1.4rem
}
  